<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora</title>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
      

</head>
<body>
  <div class="calculadora-container">
    <h1>Calculadora</h1>
    <form action="/calcular" method="post">
        <input type="text" name="num1" placeholder="Digite o primeiro número">
        <input type="text" name="num2" placeholder="Digite o segundo número">
        <select name="operacao">
          <option value="+">+</option>
          <option value="-">-</option>
          <option value="*">*</option>
          <option value="/">/</option>
        </select>
        <button type="submit">Calcular</button>
      </form>
      
      {% if resultado %}
        <p><strong>{{ resultado }}</strong></p>
      {% endif %}

  </div>
</body>
</html>